<% include ./partials/header %>

<div class="view5">
	<div class = "container" style="margin-top:80px;">
		<div id="howtop">
	<h1 id="landinglogo">How To Play</h1>
	<p>Select one of the top 12 artists or search for your own artist!</p>
	<p>Select one of the gametypes:</p>
	<p>	1) Guess Lyrics: Choose song and guess the lyrics that are missing</p>
	<p>	2) Guess Song: Guess the song that is randomly chosen from a artist's top 10 tracks</p>
	<p>Finally hit the PLAY button to get started!</p>
</div>
</div>
</div>

<% include ./partials/footer %>
