<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Assignment 3</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/index.css">
	<style>
@import url('https://fonts.googleapis.com/css?family=Righteous');
</style>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

</head>
<body>
	<div id="landing">
  <h1 id="landinglogo">♫SONGIFY </h1>
	<p style="text-align: center;"> Guess the Song, or the Lyrics!</p>
	<p style="text-align: center;"> Tracks from your favorite artists </p>
	<form action="/index" method="GET" >
		<button class="btn btn-block btn-primary ">Start Playing</button>
	</form>
	</div>


</body>

<% include ./partials/footer %>
